# prod
ABSOLUTE_DATABASE_PATH='sqlite:/home/chiller/git/TeeworldsData/accounts.db'
UPDATE_SCRIPTS_SCRIPT_PATH='/var/www/update_ddpp_scripts.sh'
SCRIPTS_PATH='/home/chiller/ddpp_database/web_scripts'
WEB_DATABASE_PATH_RAW="${SCRIPTS_PATH}/db/ddnetpp-web.db"
UPDATE_SCRIPTS_SCRIPT_PATH="sqlite:${WEB_DATABASE_PATH_RAW}"
ECON_PASSWORD='teeworlds_econ_password_for_chat'
BLMAPCHILL_SERVER_PATH='/home/chiller/BlmapChill'
CHILLBLOCK_SERVER_PATH='/home/chiller/chillblock'

# dev
ABSOLUTE_DATABASE_PATH='sqlite:/home/chiller/Desktop/git/DDNetPP-web/db/accounts.db'
WEB_DATABASE_PATH_RAW="/home/chiller/Desktop/git/DDNetPP-web/db/ddnetpp-web.db"