input[type="button"], input[type="submit"] {
    padding:10px;
    color:#fff;
    background:#0098cb;
    width:320px;
    margin:20px auto;
    margin-top:0px;
    border:0px;
    border-radius:3px;
    cursor:pointer;
}

#zone-night {
    color: #777;
}

#zone-github {
    color: #12D05E;
}

#zone-danger {
    color: #f3115c;
}

#btn-danger {
    background: #f3115c;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0098cb;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}

li a:hover {
    background-color: #00b8e0;
}

.active {
    background-color: #00b8eb;
}

body{
    margin:0px;
    padding:0px;
    font-family: 'Comfortaa', cursive;
}
