.jungle-mid-light-green {
    position: fixed;
    z-index: -2;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("img/jungle_midground_light_green_left.png");
    background-repeat: repeat-y;
    /*background-size: 761px 379px;*/
}

.jungle-background {
    position: fixed;
    z-index: -2;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("img/jungle_background_green.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
}

.cloud {
    display: none
}

.main-content {
    padding: 5%;
    padding-top: 2%;
    margin-top: 5%;
    margin-bottom: 5%;

    /* new */
    min-width: 200px;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;

    border: 2px solid darkgrey;
    border-radius: 10px;
    background: rgba(77,77,77,0.5);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

body{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(160,215,115,1)), color-stop(27%, rgba(195,255,185,1)));
}
