/* css for the javascript clouds
 * Created by NeXus
 * edit by ChillerDragon
 *
 * cloud1 1024x512
 * cloud2 1024x512
 * cloud3 512x256
 */

.cloud {
    position: fixed;
    z-index: -1;
    /*margin: 8%;*/
}

#cloud1 {
    top: 0px;
    background-image: url("img/bg_cloud1.png");
    background-size: 512px 256px;
    width: 512px;
    height: 256px;
}

#cloud2 {
    top: 10%;
    background-image: url("img/bg_cloud2.png");
    background-size: 512px 256px;
    width: 512px;
    height: 256px;
}

#cloud3 {
    top: 50%;
    background-image: url("img/bg_cloud3.png");
    background-size: 128px 64px;
    width: 128px;
    height: 64px;
    color: black;
}

#cloud4 {
    top: 60%;
    background-image: url("img/bg_cloud3.png");
    background-size: 256px 128px;
    width: 256px;
    height: 128px;
}

#cloud5 {
    top: 80%;
    background-image: url("img/bg_cloud2.png");
    background-size: 256px 128px;
    width: 256px;
    height: 128px;
}
